table {
  width: 500px;
}
table, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
thead {
  font-weight: bold;
}
.up {
  cursor: pointer;
  margin-right: 50px;
}
.down {
  cursor: pointer;
  margin-left: 50px;
}